<div class="wrapper">
  <div class="fundo"></div>
</div>

<input type="checkbox" id="check">
<label id="icone" for="check"><img src="../../assets/img/menu3branco.png" width="40px"></label>

<div class="barra">
    <nav>
        <a routerLink=''><div class="link">Home</div></a>
        <a routerLink='/cadastro'><div class="link">Cadastro</div></a>
        <a routerLink='/pagina-construcao'><div class="link">Agenda</div></a>
        <a href=""><div class="link">Serratec</div></a>
        <a href=""><div class="link">Sobre</div></a>
    </nav>
</div>

<div class="logo">
  <img src="../../assets/img/logopequena.png" width="15%">
</div>


<div class="titulo">
  <p>PORTAL DE DESENVOLVIMENTO DE NEGÓCIOS</p>
</div>

<div class="texto">
      <p>Um portal de cadastramento de necessidades<br>
          com soluções de base tecnológica.<br><br>
      </p>
      <p>A Firjan agrega o melhor dos eventos de<br>
          Tecnologia da Informação e Comunicação<br>
          para a rede e seus associados.
      </p>
</div>

<div class='busca'>
  <form action="/search" class="search" method="get">
      <input id="txtbusca" name="q" type="text" value="" placeholder="Procure no Portal..." />
      <input id="btnBusca" type="image" src="../../assets/img/iconebusca2.png">
  </form>
  </div>


